<h1>Books</h1>
<h3>Search by Genre:</h3>

<ul>
  <% @booksX.each do |book| %>
    <li><%= link_to book.genre, book_path(book) %></li>
  <% end %>
</ul>

<hr>

<%= link_to "New Book", new_book_path %>
