/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  color: white;
}

h3 {
  color: white;
  font-size: 30px;
}
h4 {
  color: white;
  font-size: 30px;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
}

li {
  list-style-type: none;
}


body {
 background: url("https://images.unsplash.com/photo-1445311429009-0b7e0cff714a?auto=format&fit=crop&w=2167&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") no-repeat;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
